@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
margin: 0px;
font-family: 'Poppins';
background-color: #FDF5E6;
}
main{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    color: #273954;
    text-align: center;
}
h3{
    text-align: center;
}
    .navbar ul{
        list-style-type: none;
        background-color:#e7a400;
        padding: 0px;
        margin: 0px; 
        overflow: hidden;
        text-align: center;
        }
        .navbar li{
            display: inline;
            padding: 0;
        }
        .navbar a{
        color:white;
        text-decoration: none;
        padding: 15px;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        }
        .navbar a:hover{
        background-color: #c78f00;
        }
        

.container{
    position: relative;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
    display: block;
}
.containermc{
    position: relative;
    text-align: center;
    color: white;
    display: block;
}
.containerhold{
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(6vw,50%,92vw);
}
.centeredmc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.containerimgtop{
    vertical-align: top;
    max-height: 200px;
    min-height: 100px;
    width: 100%;
}
.containerimg{
    margin: 0 auto;
    } 
.containermc:not(:last-child) {
         margin-right: 20px; 
}
.downloadbutton{
    background-color: #36bc2e;
    color: white;
    font-size: 30px;
    size: 35px;
}
hr{
    color: #FDF5E6;
}
.projectscontainercss{
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: block;
    
}
.cspj{
    position: relative;
    display: block;
    width: fit-content;
    height: auto;
    overflow: hidden;
}
.contactpadge img{
    width: 50%;
}
/* website optimisation for diffrent screen sizes */
@media only screen and (max-width: 600px) {
    .containermc:not(:last-child) {
        margin-right: 0px; 
}
.containerhold{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}