@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
margin: 0px;
font-family: 'Poppins';
background-color: #FDF5E6;
}
main{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    color: #273954;
    text-align: center;
}
h3{
    text-align: center;
}
    .navbar ul{
        list-style-type: none;
        background-color:#e7a400;
        padding: 0px;
        margin: 0px; 
        overflow: hidden;
        text-align: center;
        }
        .navbar li{
            display: inline;
            padding: 0;
        }
        .navbar a{
        color:white;
        text-decoration: none;
        padding: 15px;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        }
        .navbar a:hover{
        background-color: #c78f00;
        }
        

.container{
    position: relative;
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
    display: block;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.centeredmc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.containerimg{
    vertical-align: top;
    } 